## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 1ms/step - loss: 152459.6875
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 69342.0156
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 27658.4355
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 10600.8203
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 5207.5894
Epoch 6/50
23/23 [==============================] - 0s 4ms/step - loss: 4122.5864
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 3813.7109
Epoch 8/50
23/23 [==============================] - 0s 4ms/step - loss: 3546.7122
Epoch 9/50
23/23 [==============================] - 0s 6ms/step - loss: 3294.0486
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 3064.0635
Epoch 11/50
23/23 [==============================] - 0s 3ms/step - loss: 2850.2390
Epoch 12/50
23/23 [==============================] - 0s 4ms/step - loss: 2654.8015
Epoch 13/50
23/23 [==============================] - 0s 3ms/step - loss: 2462.3894
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 2289.3074
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 2120.9692
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 1973.6357
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 1833.2130
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 1702.5833
Epoch 19/50
23/23 [==============================] - 0s 3ms/step - loss: 1579.7706
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 1468.5590
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 1366.5973
Epoch 22/50
23/23 [==============================] - 0s 3ms/step - loss: 1271.1174
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 1184.8502
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 1102.3824
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 1025.3302
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 957.2988
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 892.4331
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 835.8005
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 781.3107
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 731.3106
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 687.6758
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 645.9700
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 608.2928
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 573.3397
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 541.2592
Epoch 36/50
23/23 [==============================] - 0s 1ms/step - loss: 512.1371
Epoch 37/50
23/23 [==============================] - 0s 1ms/step - loss: 487.0804
Epoch 38/50
23/23 [==============================] - 0s 1ms/step - loss: 462.1969
Epoch 39/50
23/23 [==============================] - 0s 1ms/step - loss: 439.1027
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 418.1372
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 399.7170
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 383.2576
Epoch 43/50
23/23 [==============================] - 0s 1ms/step - loss: 365.7592
Epoch 44/50
23/23 [==============================] - 0s 1ms/step - loss: 352.0351
Epoch 45/50
23/23 [==============================] - 0s 1ms/step - loss: 339.5455
Epoch 46/50
23/23 [==============================] - 0s 1ms/step - loss: 324.9810
Epoch 47/50
23/23 [==============================] - 0s 1ms/step - loss: 312.3350
Epoch 48/50
23/23 [==============================] - 0s 1ms/step - loss: 303.2052
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 291.4232
Epoch 50/50
23/23 [==============================] - 0s 1ms/step - loss: 281.8663

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 305.8991
10/10 [==============================] - 0s 1ms/step

305.8991394042969

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

305.89910979588876 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 104.72765350341797
10/10 [==============================] - 0s 1ms/step
MSE 2: 120.13487243652344
10/10 [==============================] - 0s 1ms/step
MSE 3: 109.86824035644531
10/10 [==============================] - 0s 2ms/step
MSE 4: 121.24095153808594
10/10 [==============================] - 0s 1ms/step
MSE 5: 121.69393157958984
10/10 [==============================] - 0s 1ms/step
MSE 6: 115.32854461669922
10/10 [==============================] - 0s 1ms/step
MSE 7: 132.00570678710938
10/10 [==============================] - 0s 1ms/step
MSE 8: 74.53392028808594
10/10 [==============================] - 0s 1ms/step
MSE 9: 82.79750061035156
10/10 [==============================] - 0s 1ms/step
MSE 10: 61.139766693115234
10/10 [==============================] - 0s 1ms/step
MSE 11: 55.03823471069336
10/10 [==============================] - 0s 2ms/step
MSE 12: 54.644134521484375
10/10 [==============================] - 0s 1ms/step
MSE 13: 56.055450439453125
10/10 [==============================] - 0s 1ms/step
MSE 14: 56.729190826416016
10/10 [==============================] - 0s 1ms/step
MSE 15: 49.601158142089844
10/10 [==============================] - 0s 1ms/step
MSE 16: 49.66895294189453
10/10 [==============================] - 0s 1ms/step
MSE 17: 49.007965087890625
10/10 [==============================] - 0s 1ms/step
MSE 18: 49.89418411254883
10/10 [==============================] - 0s 1ms/step
MSE 19: 45.14520263671875
10/10 [==============================] - 0s 1ms/step
MSE 20: 47.4893913269043
10/10 [==============================] - 0s 2ms/step
MSE 21: 44.770626068115234
10/10 [==============================] - 0s 1ms/step
MSE 22: 47.47364044189453
10/10 [==============================] - 0s 1ms/step
MSE 23: 44.03824234008789
10/10 [==============================] - 0s 1ms/step
MSE 24: 45.40782928466797
10/10 [==============================] - 0s 1ms/step
MSE 25: 49.05766677856445
10/10 [==============================] - 0s 1ms/step
MSE 26: 49.80697250366211
10/10 [==============================] - 0s 1ms/step
MSE 27: 50.222442626953125
10/10 [==============================] - 0s 1ms/step
MSE 28: 44.144527435302734
10/10 [==============================] - 0s 2ms/step
MSE 29: 52.584877014160156
10/10 [==============================] - 0s 1ms/step
MSE 30: 51.537315368652344
10/10 [==============================] - 0s 2ms/step
MSE 31: 48.78940200805664
10/10 [==============================] - 0s 2ms/step
MSE 32: 43.06902313232422
10/10 [==============================] - 0s 1ms/step
MSE 33: 57.04294967651367
10/10 [==============================] - 0s 1ms/step
MSE 34: 53.84385299682617
10/10 [==============================] - 0s 1ms/step
MSE 35: 55.100006103515625
10/10 [==============================] - 0s 2ms/step
MSE 36: 51.7206916809082
10/10 [==============================] - 0s 1ms/step
MSE 37: 52.36091232299805
10/10 [==============================] - 0s 1ms/step
MSE 38: 55.22931671142578
10/10 [==============================] - 0s 1ms/step
MSE 39: 57.366668701171875
10/10 [==============================] - 0s 1ms/step
MSE 40: 47.347679138183594
10/10 [==============================] - 0s 2ms/step
MSE 41: 62.81193923950195
10/10 [==============================] - 0s 2ms/step
MSE 42: 47.03914260864258
10/10 [==============================] - 0s 2ms/step
MSE 43: 50.56214904785156
10/10 [==============================] - 0s 1ms/step
MSE 44: 52.99229431152344
10/10 [==============================] - 0s 1ms/step
MSE 45: 52.88112258911133
10/10 [==============================] - 0s 1ms/step
MSE 46: 54.25820541381836
10/10 [==============================] - 0s 1ms/step
MSE 47: 82.48898315429688
10/10 [==============================] - 0s 1ms/step
MSE 48: 50.55071258544922
10/10 [==============================] - 0s 1ms/step
MSE 49: 50.884464263916016
10/10 [==============================] - 0s 1ms/step
MSE 50: 51.52402114868164
10/10 [==============================] - 0s 1ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 62.27305251378278
Standard Deviation: 23.98995956776972