## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [8]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [10]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [12]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has one hidden layer with 10 neurons and a ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [15]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [17]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [18]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1628.2112 - 635ms/epoch - 28ms/step
Epoch 2/50
23/23 - 0s - loss: 1613.5366 - 34ms/epoch - 1ms/step
Epoch 3/50
23/23 - 0s - loss: 1599.3792 - 44ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1585.9052 - 34ms/epoch - 1ms/step
Epoch 5/50
23/23 - 0s - loss: 1572.5564 - 38ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 1559.4362 - 39ms/epoch - 2ms/step
Epoch 7/50
23/23 - 0s - loss: 1546.1218 - 36ms/epoch - 2ms/step
Epoch 8/50
23/23 - 0s - loss: 1532.7148 - 34ms/epoch - 1ms/step
Epoch 9/50
23/23 - 0s - loss: 1519.0310 - 33ms/epoch - 1ms/step
Epoch 10/50
23/23 - 0s - loss: 1505.0953 - 34ms/epoch - 1ms/step
Epoch 11/50
23/23 - 0s - loss: 1490.7830 - 33ms/epoch - 1ms/step
Epoch 12/50
23/23 - 0s - loss: 1475.8817 - 36ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 1460.5953 - 31ms/epoch - 1ms/step
Epoch 14/50
23/23 - 0s - loss: 1444.9275 - 33ms/epoch - 1ms/step
Epoch 15/50
23/23 - 0s - loss: 1428.2476 - 34ms/epoch - 1ms/step
Epoch 16/50
23/23 - 0s - loss: 1411.6149 - 37ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 1393.6927 - 35ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 1375.5886 - 33ms/epoch - 1ms/step
Epoch 19/50
23/23 - 0s - loss: 1356.2905 - 33ms/epoch - 1ms/step
Epoch 20/50
23/23 - 0s - loss: 1336.2020 - 37ms/epoch - 2ms/step
Epoch 21/50
23/23 - 0s - loss: 1315.6243 - 34ms/epoch - 1ms/step
Epoch 22/50
23/23 - 0s - loss: 1293.7594 - 36ms/epoch - 2ms/step
Epoch 23/50
23/23 - 0s - loss: 1271.5038 - 36ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 1248.0803 - 36ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 1224.0569 - 35ms/epoch - 2ms/step
Epoch 26/50
23/23 - 0s - loss: 1199.5753 - 36ms/epoch - 2ms/step
Epoch 27/50
23/23 - 0s - loss: 1173.5062 - 37ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 1147.0510 - 36ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 1119.7517 - 46ms/epoch - 2ms/step
Epoch 30/50
23/23 - 0s - loss: 1091.8883 - 35ms/epoch - 2ms/step
Epoch 31/50
23/23 - 0s - loss: 1062.6732 - 39ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 1033.5325 - 34ms/epoch - 1ms/step
Epoch 33/50
23/23 - 0s - loss: 1002.8723 - 35ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 972.0808 - 39ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 940.9060 - 40ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 909.2358 - 38ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 877.2849 - 46ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 845.2335 - 35ms/epoch - 2ms/step
Epoch 39/50
23/23 - 0s - loss: 813.7933 - 43ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 782.5682 - 38ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 751.1922 - 39ms/epoch - 2ms/step
Epoch 42/50
23/23 - 0s - loss: 720.5724 - 36ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 690.5323 - 33ms/epoch - 1ms/step
Epoch 44/50
23/23 - 0s - loss: 661.1353 - 36ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 632.5055 - 37ms/epoch - 2ms/step
Epoch 46/50
23/23 - 0s - loss: 604.4886 - 47ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 577.7844 - 36ms/epoch - 2ms/step
Epoch 48/50
23/23 - 0s - loss: 552.5163 - 37ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 527.8799 - 40ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 504.2672 - 38ms/epoch - 2ms/step

Next we need to evaluate the model on the test data.

In [19]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 459.1322
10/10 [==============================] - 0s 2ms/step

459.1322326660156

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [20]:
from sklearn.metrics import mean_squared_error

In [21]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

459.1322364729495 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [22]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 158.28890991210938
10/10 [==============================] - 0s 2ms/step
MSE 2: 157.19305419921875
10/10 [==============================] - 0s 2ms/step
MSE 3: 95.77328491210938
10/10 [==============================] - 0s 2ms/step
MSE 4: 79.3099136352539
10/10 [==============================] - 0s 3ms/step
MSE 5: 67.99717712402344
10/10 [==============================] - 0s 2ms/step
MSE 6: 60.77268981933594
10/10 [==============================] - 0s 2ms/step
MSE 7: 58.033817291259766
10/10 [==============================] - 0s 2ms/step
MSE 8: 42.141815185546875
10/10 [==============================] - 0s 2ms/step
MSE 9: 42.98407745361328
10/10 [==============================] - 0s 2ms/step
MSE 10: 42.38621139526367
10/10 [==============================] - 0s 2ms/step
MSE 11: 37.600379943847656
10/10 [==============================] - 0s 2ms/step
MSE 12: 36.77020263671875
10/10 [==============================] - 0s 2ms/step
MSE 13: 42.48968505859375
10/10 [==============================] - 0s 2ms/step
MSE 14: 44.71247482299805
10/10 [==============================] - 0s 2ms/step
MSE 15: 36.21705627441406
10/10 [==============================] - 0s 2ms/step
MSE 16: 32.959754943847656
10/10 [==============================] - 0s 2ms/step
MSE 17: 35.5899658203125
10/10 [==============================] - 0s 2ms/step
MSE 18: 35.07710647583008
10/10 [==============================] - 0s 2ms/step
MSE 19: 34.20756149291992
10/10 [==============================] - 0s 3ms/step
MSE 20: 34.45757293701172
10/10 [==============================] - 0s 2ms/step
MSE 21: 32.97455596923828
10/10 [==============================] - 0s 2ms/step
MSE 22: 35.6314582824707
10/10 [==============================] - 0s 2ms/step
MSE 23: 29.41924285888672
10/10 [==============================] - 0s 2ms/step
MSE 24: 31.216411590576172
10/10 [==============================] - 0s 2ms/step
MSE 25: 34.58127212524414
10/10 [==============================] - 0s 2ms/step
MSE 26: 33.842247009277344
10/10 [==============================] - 0s 2ms/step
MSE 27: 31.1647891998291
10/10 [==============================] - 0s 2ms/step
MSE 28: 29.067758560180664
10/10 [==============================] - 0s 2ms/step
MSE 29: 35.3009147644043
10/10 [==============================] - 0s 2ms/step
MSE 30: 31.95105743408203
10/10 [==============================] - 0s 2ms/step
MSE 31: 30.352861404418945
10/10 [==============================] - 0s 2ms/step
MSE 32: 29.254955291748047
10/10 [==============================] - 0s 2ms/step
MSE 33: 28.175933837890625
10/10 [==============================] - 0s 2ms/step
MSE 34: 32.014984130859375
10/10 [==============================] - 0s 2ms/step
MSE 35: 32.91626739501953
10/10 [==============================] - 0s 3ms/step
MSE 36: 38.06477737426758
10/10 [==============================] - 0s 2ms/step
MSE 37: 28.63966178894043
10/10 [==============================] - 0s 2ms/step
MSE 38: 33.7010498046875
10/10 [==============================] - 0s 2ms/step
MSE 39: 31.801855087280273
10/10 [==============================] - 0s 2ms/step
MSE 40: 27.52696418762207
10/10 [==============================] - 0s 2ms/step
MSE 41: 33.90172576904297
10/10 [==============================] - 0s 2ms/step
MSE 42: 27.7562198638916
10/10 [==============================] - 0s 2ms/step
MSE 43: 31.735225677490234
10/10 [==============================] - 0s 2ms/step
MSE 44: 36.775474548339844
10/10 [==============================] - 0s 3ms/step
MSE 45: 32.86191177368164
10/10 [==============================] - 0s 2ms/step
MSE 46: 30.79557991027832
10/10 [==============================] - 0s 2ms/step
MSE 47: 31.09620475769043
10/10 [==============================] - 0s 4ms/step
MSE 48: 33.28058624267578
10/10 [==============================] - 0s 2ms/step
MSE 49: 32.56893539428711
10/10 [==============================] - 0s 2ms/step
MSE 50: 32.781166076660156
10/10 [==============================] - 0s 2ms/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 42.72229522700533
Standard Deviation: 26.791074017973155