## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's read the dataset into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id="item1"></a>

## Import Keras

#### Let's go ahead and import the Keras library

In [11]:
import keras

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function creates a model that has three hidden layers each with 10 neurons and ReLU activation function. It uses the adam optimizer and the mean squared error as the loss function.

Let's import scikit-learn in order to randomly split the data into a training and test sets

In [14]:
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()

Next, we will train the model for 50 epochs.

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Epoch 1/50
23/23 - 1s - loss: 1578.2290 - 778ms/epoch - 34ms/step
Epoch 2/50
23/23 - 0s - loss: 1554.6650 - 41ms/epoch - 2ms/step
Epoch 3/50
23/23 - 0s - loss: 1521.2913 - 42ms/epoch - 2ms/step
Epoch 4/50
23/23 - 0s - loss: 1467.3510 - 40ms/epoch - 2ms/step
Epoch 5/50
23/23 - 0s - loss: 1379.2277 - 38ms/epoch - 2ms/step
Epoch 6/50
23/23 - 0s - loss: 1245.2229 - 42ms/epoch - 2ms/step
Epoch 7/50
23/23 - 0s - loss: 1063.8859 - 44ms/epoch - 2ms/step
Epoch 8/50
23/23 - 0s - loss: 836.4374 - 46ms/epoch - 2ms/step
Epoch 9/50
23/23 - 0s - loss: 598.3947 - 40ms/epoch - 2ms/step
Epoch 10/50
23/23 - 0s - loss: 427.5674 - 40ms/epoch - 2ms/step
Epoch 11/50
23/23 - 0s - loss: 337.7961 - 39ms/epoch - 2ms/step
Epoch 12/50
23/23 - 0s - loss: 298.7182 - 46ms/epoch - 2ms/step
Epoch 13/50
23/23 - 0s - loss: 270.6611 - 42ms/epoch - 2ms/step
Epoch 14/50
23/23 - 0s - loss: 250.9599 - 38ms/epoch - 2ms/step
Epoch 15/50
23/23 - 0s - loss: 236.1766 - 38ms/epoch - 2ms/step
Epoch 16/50
23/23 - 0s - loss: 224.1557 - 40ms/epoch - 2ms/step
Epoch 17/50
23/23 - 0s - loss: 215.3168 - 40ms/epoch - 2ms/step
Epoch 18/50
23/23 - 0s - loss: 207.0246 - 40ms/epoch - 2ms/step
Epoch 19/50
23/23 - 0s - loss: 200.2846 - 40ms/epoch - 2ms/step
Epoch 20/50
23/23 - 0s - loss: 194.3751 - 38ms/epoch - 2ms/step
Epoch 21/50
23/23 - 0s - loss: 189.5724 - 41ms/epoch - 2ms/step
Epoch 22/50
23/23 - 0s - loss: 183.8085 - 42ms/epoch - 2ms/step
Epoch 23/50
23/23 - 0s - loss: 179.3632 - 42ms/epoch - 2ms/step
Epoch 24/50
23/23 - 0s - loss: 174.6929 - 50ms/epoch - 2ms/step
Epoch 25/50
23/23 - 0s - loss: 170.3678 - 42ms/epoch - 2ms/step
Epoch 26/50
23/23 - 0s - loss: 166.1148 - 47ms/epoch - 2ms/step
Epoch 27/50
23/23 - 0s - loss: 161.8918 - 45ms/epoch - 2ms/step
Epoch 28/50
23/23 - 0s - loss: 157.7564 - 39ms/epoch - 2ms/step
Epoch 29/50
23/23 - 0s - loss: 153.6213 - 52ms/epoch - 2ms/step
Epoch 30/50
23/23 - 0s - loss: 149.9361 - 40ms/epoch - 2ms/step
Epoch 31/50
23/23 - 0s - loss: 145.7868 - 40ms/epoch - 2ms/step
Epoch 32/50
23/23 - 0s - loss: 142.1279 - 49ms/epoch - 2ms/step
Epoch 33/50
23/23 - 0s - loss: 138.0082 - 39ms/epoch - 2ms/step
Epoch 34/50
23/23 - 0s - loss: 134.4651 - 39ms/epoch - 2ms/step
Epoch 35/50
23/23 - 0s - loss: 130.8578 - 41ms/epoch - 2ms/step
Epoch 36/50
23/23 - 0s - loss: 128.1265 - 41ms/epoch - 2ms/step
Epoch 37/50
23/23 - 0s - loss: 124.7817 - 40ms/epoch - 2ms/step
Epoch 38/50
23/23 - 0s - loss: 121.5548 - 42ms/epoch - 2ms/step
Epoch 39/50
23/23 - 0s - loss: 119.1323 - 53ms/epoch - 2ms/step
Epoch 40/50
23/23 - 0s - loss: 116.3473 - 43ms/epoch - 2ms/step
Epoch 41/50
23/23 - 0s - loss: 113.7486 - 40ms/epoch - 2ms/step
Epoch 42/50
23/23 - 0s - loss: 111.3425 - 37ms/epoch - 2ms/step
Epoch 43/50
23/23 - 0s - loss: 108.8426 - 40ms/epoch - 2ms/step
Epoch 44/50
23/23 - 0s - loss: 106.6538 - 44ms/epoch - 2ms/step
Epoch 45/50
23/23 - 0s - loss: 104.1844 - 57ms/epoch - 2ms/step
Epoch 46/50
23/23 - 0s - loss: 102.4429 - 40ms/epoch - 2ms/step
Epoch 47/50
23/23 - 0s - loss: 100.1446 - 41ms/epoch - 2ms/step
Epoch 48/50
23/23 - 0s - loss: 98.4091 - 38ms/epoch - 2ms/step
Epoch 49/50
23/23 - 0s - loss: 96.4288 - 38ms/epoch - 2ms/step
Epoch 50/50
23/23 - 0s - loss: 94.3203 - 40ms/epoch - 2ms/step

Next we need to evaluate the model on the test data.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 97.1730
10/10 [==============================] - 0s 2ms/step

97.17298126220703

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

Let's import the mean_squared_error function from Scikit-learn.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

97.1729819460886 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 54.20808792114258
10/10 [==============================] - 0s 2ms/step
MSE 2: 57.57987594604492
10/10 [==============================] - 0s 3ms/step
MSE 3: 38.896236419677734
10/10 [==============================] - 0s 3ms/step
MSE 4: 41.836700439453125
10/10 [==============================] - 0s 2ms/step
MSE 5: 39.54666519165039
10/10 [==============================] - 0s 2ms/step
MSE 6: 38.198360443115234
10/10 [==============================] - 0s 2ms/step
MSE 7: 43.785736083984375
10/10 [==============================] - 0s 2ms/step
MSE 8: 31.437789916992188
10/10 [==============================] - 0s 2ms/step
MSE 9: 32.48527526855469
10/10 [==============================] - 0s 2ms/step
MSE 10: 33.935665130615234
10/10 [==============================] - 0s 3ms/step
MSE 11: 32.14793395996094
10/10 [==============================] - 0s 2ms/step
MSE 12: 29.49874496459961
10/10 [==============================] - 0s 2ms/step
MSE 13: 35.511661529541016
10/10 [==============================] - 0s 2ms/step
MSE 14: 36.842506408691406
10/10 [==============================] - 0s 2ms/step
MSE 15: 30.429000854492188
10/10 [==============================] - 0s 1ms/step
MSE 16: 27.129426956176758
10/10 [==============================] - 0s 2ms/step
MSE 17: 27.81078338623047
10/10 [==============================] - 0s 2ms/step
MSE 18: 28.007768630981445
10/10 [==============================] - 0s 2ms/step
MSE 19: 27.436311721801758
10/10 [==============================] - 0s 3ms/step
MSE 20: 30.784286499023438
10/10 [==============================] - 0s 2ms/step
MSE 21: 28.7021484375
10/10 [==============================] - 0s 2ms/step
MSE 22: 27.320764541625977
10/10 [==============================] - 0s 2ms/step
MSE 23: 22.246807098388672
10/10 [==============================] - 0s 2ms/step
MSE 24: 24.2174015045166
10/10 [==============================] - 0s 2ms/step
MSE 25: 23.879674911499023
10/10 [==============================] - 0s 3ms/step
MSE 26: 30.996097564697266
10/10 [==============================] - 0s 2ms/step
MSE 27: 22.839645385742188
10/10 [==============================] - 0s 2ms/step
MSE 28: 22.955921173095703
10/10 [==============================] - 0s 2ms/step
MSE 29: 27.38977813720703
10/10 [==============================] - 0s 2ms/step
MSE 30: 25.71841049194336
10/10 [==============================] - 0s 2ms/step
MSE 31: 23.043540954589844
10/10 [==============================] - 0s 3ms/step
MSE 32: 23.06753158569336
10/10 [==============================] - 0s 2ms/step
MSE 33: 20.11263084411621
10/10 [==============================] - 0s 2ms/step
MSE 34: 21.1018123626709
10/10 [==============================] - 0s 2ms/step
MSE 35: 21.564870834350586
10/10 [==============================] - 0s 2ms/step
MSE 36: 24.040578842163086
10/10 [==============================] - 0s 2ms/step
MSE 37: 17.885351181030273
10/10 [==============================] - 0s 2ms/step
MSE 38: 21.973371505737305
10/10 [==============================] - 0s 2ms/step
MSE 39: 23.889514923095703
10/10 [==============================] - 0s 2ms/step
MSE 40: 19.018835067749023
10/10 [==============================] - 0s 2ms/step
MSE 41: 23.574283599853516
10/10 [==============================] - 0s 3ms/step
MSE 42: 20.733421325683594
10/10 [==============================] - 0s 2ms/step
MSE 43: 21.639446258544922
10/10 [==============================] - 0s 2ms/step
MSE 44: 24.017330169677734
10/10 [==============================] - 0s 2ms/step
MSE 45: 23.55059814453125
10/10 [==============================] - 0s 2ms/step
MSE 46: 25.324298858642578
10/10 [==============================] - 0s 2ms/step
MSE 47: 23.23538589477539
10/10 [==============================] - 0s 2ms/step
MSE 48: 18.957971572875977
10/10 [==============================] - 0s 2ms/step
MSE 49: 20.6162052154541
10/10 [==============================] - 0s 2ms/step
MSE 50: 22.321237564086914
10/10 [==============================] - 0s 2ms/step


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 28.26887345869492
Standard Deviation: 8.392546628984974